*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: #333;
    margin-top: 50px;
}
form{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #f2f2f2;
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
}
button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;

}



